html {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    background-color: #ffffff;
}

body {
    width: 700px;
    margin: 10px auto;
    background-color: #f0edea;
    padding: 0 100px 100px 100px;
    border: 5px solid rgb(158, 158, 158);
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 1px rgb(158, 158, 158);
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 0;
}

img {
    display: block;
    margin: 0 auto;           
}

p {
    color: rgb(36, 61, 53);
    width: 600px;
}

ul, ol {
    color: rgb(36, 61, 53);
    width: 350px;
    border: 5px solid rgb(248, 230, 206);
  }

#troll {
    color: rgb(209, 25, 25);
    width: 390px;
    border: 5px solid rgb(150, 22, 22);
  }

#troll:hover {
    color: rgb(0, 0, 0);
    width: 390px;
    border: 5px solid rgb(255, 0, 0);
    /* when hovered with mouse cursor will give different color and width (very useful later on) */
  }







